.footer .img{
  left: 50%;
  right: 50%;
  position: fixed;
}

@media only screen and (max-width: 2000px){
  .footer .img{
    left: 20%;
    right: 80%;
    position: fixed;
  } 
}
@media only screen and (min-width: 2000px){
  .footer .img{
    left: 24%;
    right: 80%;
    position: fixed;
  } 
}
@media only screen and (max-width: 1400px){
  .footer .img{
    left: 18%;
    right: 80%;
    position: fixed;
  } 
}
@media only screen and (max-width: 1000px){
  .footer .img{
    left: 18%;
    right: 80%;
    position: fixed;
  } 
}